<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CCE8FD;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">
          <img src="../assets/images/MDC.jpeg" height="30" alt="MDC Logo" loading="lazy">
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/autorisation">Equipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/autorisation">Projets</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
       
        <!-- Notifications -->
        <div class="dropdown">
          <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
  
        <!-- Avatar -->
        <div class="dropdown">
          <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <h1>Autorisation de sortie</h1>

  <form class="needs-validation" novalidate>
 
     
    <div class="form-row">
       <div class="leftc">
        <div class="dates">
            <label for="debut">Date:</label>
            <input type="date" id="birthdayd" name="debut" [(ngModel)]="todayDate">
        </div>

      <div class="y">
        <label for="validationTooltip01">Matricule:</label>
        <input type="text" readonly class="form-control" id="validationTooltip01" placeholder="Matricule" value="1" required>
        
      </div>
      <div class="y">
        <label for="validationTooltip01">Nom et Prénom:</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder="Nom" value="" required>
        
      </div>

      <div class="y">
        <label for="validationTooltip02">Direction:</label>
        <input type="text" class="form-control" id="validationTooltip02" placeholder="Direction" value="" required>
       
      </div>
    </div>
    <div class="rightc">
    <div class="heure">
    <label for="debut">Heure de sortie:</label>
    <input type="time" id="birthdayd" name="debut">
    <label class="label2" for="fin">Heure d'entrée previsionelle:</label>
    <input type="time" id="birthdayf" name="fin">
    <label class="label2" for="fin">Heure d'entrée effective:</label>
    <input type="time" id="birthdayf" name="fin">
  </div>

  <div class="y">
    <label for="validationTooltip01">Motif:</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Motif" value="" required>
    
  </div>
</div> 
<div class="NB">
<p><strong>NB:</strong> </p>
<pre>
  -Toute sortie non autorisée sera considérée comme absence.
  -Autorisation valable pour un maximum de 3H d'absence, au-delà elle devra 
    être remplacée par une demande de congé.<br>
</pre>
</div>
    
    <button class="btn btn-primary" type="submit">Soumettre pour validation</button>
    
</div>
  </form>